{% extends 'header.html' %}
{% block title %}Lobby |{% endblock title %}
{% block div %}
<p id="current-time">Loading...</p>
{% endblock div %}
{% block body %}
    {% block main %}
        <div id="form__container">

            <div class="circle circle-one"></div>
            <div class="form-container">            
                {% if messages %}
                {% for message in messages %}
                <div id="alert" class="{{message.tags}}">
                  <span class="{{message.tags}}btn" onclick="closeAlert()">&times;</span>
                  <b>{{message}}</b>
                </div>
                {% endfor %}
                {% endif %}
                <h1>Delete Room</h1>
                
                
                <form id="lobby__form" method="post" action="/deleteRoom">
                {% csrf_token %}
                    <div class="form__field__wrapper">
                        <input type="text" name="roomName" required placeholder="ROOM NAME" />
                    </div>

                    <div class="form__field__wrapper">
                        <button class="opacity" type="submit">Delete Room</button>
                    </div>
                </form>
            <div class="register-forget opacity">
                <a href="/forgotpassword"></a>
                <a href="/join" style=" font-size: 25px;font-family: 'Times New Roman', Times, serif;">⬅️BACK</a>
            </div>
            
            </div>
            <div class="circle circle-two"></div>
        </div>

    {% endblock main %}

{% endblock body %}
