<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/png" href="static/images/logo.ico">
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="stylesheet" href="static/styles/alert.css">
    <script src="static/js/alert.js"></script>
    <title>MingleCall</title>
</head>

<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <h1 class="opacity">CHANGE PASSWORD</h1>
                {% if step == 'send_code' %}
                <form method="post">
                {% csrf_token %}
                    <input type="text" id="username" name="username" placeholder="USERNAME"><br>
                    <button type="submit" name="send_code">Send Code</button>
                </form>
                {% endif %}

                {% if step == 'verify_code' %}
                <p>Check your mail for OTP</p>
                <form method="post">
                {% csrf_token %}
                    <input type="text" id="username" name="username" placeholder="USERNAME" required/>
                    <input type="text" id="code" name="code" placeholder="OTP" required/>
                    <input type="password" id="new_password" name="new_password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="NEW PASSWORD" required/>
                    <button type="submit" name="reset_password">Reset Password</button>
                </form>
                {% endif %}

                {% if messages %}
                {% for message in messages %}
                <div id="alert" class="{{message.tags}}">
                    <span class="{{message.tags}}btn" onclick="closeAlert()">&times;</span>
                    <b>{{message}}</b>
                </div>
                {% endfor %}
                {% endif %}
                <div class="register-forget opacity">
                    <a></a>
                    <a href="/login">⬅️BACK TO LOGIN</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>

</html>