{% extends 'header.html' %}
{% block title %}ROOMS |{% endblock title %}
{% block body %}
{% block main %}
<div id="rooms__container">

    <div class="circle circle-one"></div>
    <div class="rooms-container">            
        
        <h1>Your Created Rooms</h1>
        <div class="register-forget opacity">
            {% comment %} <a></a> {% endcomment %}
            <a href="/lobby">⬅️BACK TO LOBY</a>
        </div>
        
    <div class="inner-rooms-container">
        {% if room_cards %}
            {% for card in room_cards %}
                <div class="rooms-card">
                    <h2>{{ card.room_name }}</h2>
                    <p>Room Code: {{ card.room_code }}</p>
                    <p>Created: {{ card.time_ago }}</p>
                </div>
            {% endfor %}
        {% else %}        
            <p>You haven't created any rooms yet.</p>
        {% endif %}
    </div>
</div>
<div class="circle circle-two"></div>

{% endblock main %}

{% endblock body %}